*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

.hero{
    width: 100%;
    min-height: 100vh;
    background: #292929;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.hero h1{
    color: white;
    font-weight: 500;
    margin-bottom: 40px;
}

.signup-box{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 90%;
    max-width: 800px;
    background: white;
}

.left-box{
    padding: 50px;
    background: #6b00d5;
    flex-basis: 50%;
    flex-grow: 1;
    color: white;

}



.right-box{
    padding: 50px;
    flex-basis: 50%;
    flex-grow: 1;
}
